.container {
  height: 100%;
  margin: 1.5rem auto;
  z-index: 0;
  position: relative;
  transition: all 0.5s ease;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 1rem 1rem;
  }
}
