<div class="side-menu">
  <h2>Geo Filter</h2>
  <form class="mt-3">
    <ng-container *ngFor="let layer of this.GEOLayers">
      <div class="form-group">
        <label for="">{{ layer.name }}</label>
        <mat-form-field appearance="outline">
          <mat-select name="option1">
            <ng-container *ngFor="let feature of layer.features">
              <mat-option value="value1">{{
                feature.properties.VARNAME_1
              }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </form>
</div>
