<section class="container my-3 pt-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">
                {{ "adminDashboard.cards.totalPatients" | translate }}
              </p>
              <h4 class="my-1 txt-primary">
                {{ adminCard?.totalPatients }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">
                {{ "adminDashboard.cards.totalRequests" | translate }}
              </p>
              <h4 class="my-1 txt-primary">
                {{ adminCard?.totalRequests }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">
                {{ "adminDashboard.cards.totalUsers" | translate }}
              </p>
              <h4 class="my-1 txt-primary">
                {{ adminCard?.totalUsers }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card radius-10 border-start border-0 border-3 border-primary">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <p class="mb-0 text-secondary">
                {{ "adminDashboard.cards.usersThisMonth" | translate }}
              </p>
              <h4 class="my-1 txt-primary">
                {{ adminCard?.usersThisMonth }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
