@use "src/assets/styles/colors" as colors;
.map-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .filter-button {
    background: colors.$light-black;
    color: colors.$white;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
}

.map-frame {
  border: 2px solid black;
  height: calc(100vh - 5rem);
  margin: 0 auto;
  width: calc(100%);
}

#map {
  height: 100%;
}
