 @use "@angular/material" as mat;
@import "~quill/dist/quill.snow.css";
@import 'ngx-toastr/toastr';
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");


$angular-skeleton-typography: mat.define-typography-config($font-family:'Bangers, cursive');


$angular-skeleton-primary: mat.define-palette(mat.$indigo-palette);
$angular-skeleton-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

 $angular-skeleton-warn: mat.define-palette(mat.$red-palette);


$angular-skeleton-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-skeleton-primary,
      accent: $angular-skeleton-accent,
      warn: $angular-skeleton-warn,
    ),
    typography: $angular-skeleton-typography
  )
);


@include mat.all-component-themes($angular-skeleton-theme);



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Bangers", cursive;
}
.mat-mdc-text-field-wrapper {
  background-color: #fff !important;
}
